
{% extends "base_all.html" %}


{% block title %} Digital Green  - Media Coverage{% endblock %}

{% block cssfile %}
	{{ block.super }}
	<link type='text/css' rel='stylesheet' href='/media/Output/CSS/press.css' />       
{% endblock cssfile %}

{% block jsfile %}
       <script type="text/javascript" src="/media/Output/JS/Janalytics.js"></script>
	   <script type="text/javascript" src="path_to/jquery.js"></script>
	   <script type="text/javascript" src="path_to/jquery.simplePagination.js"></script>


	   
{% endblock jsfile %}


{% block pagetitle %} {{ block.super }}Media Coverage {% endblock pagetitle %}

{% block breadcrums %}  

	{{ block.super }}
	 <span style='font-size:0.9em; font-weight:bold;'> Media Coverage </span>
	 
{% endblock breadcrums %}

{% block mainbodycontentleft %}

    <div class='mainbodycontentleftimg'>
		{% block mainbodycontentleftimg %}
			<img src="/media/Output/Images/pressimg1.jpg" alt='Women on the field'>
		{% endblock mainbodycontentleftimg %}
	</div>
    
    <div class='pagetitle'>
		Media Coverage 
		
	</div>
	
	<div id='contentdiv1'>
		<table id="outertable1" cellspacing="0" cellpadding="0">
			<tbody>
				<tr><td id="outercontenttd1" cellspacing="0" cellpadding="0">
					<table id="table1" cellspacing="0" cellpadding="0">
						<tbody>
							
							{% for med in media %}
						
							<tr><td class="contenttd1" cellspacing="0" cellpadding="0">
								
														
								<div class="contenttd1div1">
								<ul class="contenttd1div2titleul">
								<li><a href={{med.link}}>{{med.title}}</a></li>
								</ul>
								<ul class="contenttd1div1descul"><li>{{med.source}}</li><li>|</li><li><!--HAVE TO WORK UPON THIS--><!--Tue, 15 May 2013--> {{med.pub_date|date:"D"}},{{med.pub_date|date:" d F Y"}}</li></ul>
								</div>
								<div class="contenttd1div2">
								<div class="contenttd1div2desc"><p><span class="pstyle">{{med.location}}:&nbsp;</span>"{{med.content}}"</p></div>
								</div>
								<div class="contenttd1div3">
								<ul class="contenttd1div3descul"><li><a href={{med.link}}>Full Coverage</a></li>
								</ul></div></td>
								</tr>
							{% endfor %}

								</tbody></table></td></tr></tbody></table>
								
<div class="pagination">
    
	<span class="step-links">
        {% if media.has_previous %}
            <a href="?page={{ media.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ media.number }} of {{ media.paginator.num_pages }}
        </span>

        {% if media.has_next %}
            <a href="?page={{ media.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
								






								
<div id="pagingdiv"><ul id="pagingdivul"></ul></div>	
	</div>
	

{% endblock mainbodycontentleft %}	

{% block mainbodycontentright %}	
	
	<div id='explorediv'>		
		<div class='exploredescdiv'>
			<div class='exploredesctitle'> &nbsp; Sign Up for Updates </div>
			<div class='signupdiv'> 
				<table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>   					
		    		<form action="http://groups.google.co.in/group/digitalgreenfriends/boxsubscribe">
            			<tr><td style="padding-left: 5px;"> 
            				<input type=text name=email value='Email Address' onfocus="this.value=''"> <input type=submit name="sub" value="Subscribe">
            			</td></tr>
            		</form>					
				</table>
			</div> 
		</div>			
	</div>
	<div id="explorediv1">		
		<div class="exploredescdiv">			
			<div class="exploredescmain"> 
				<a href="/keyfacts" class="exploredescmainlink"><span style='font-weight:bold;'>Digital Green </span><br/>Key Facts</a>						
			</div> 			
		</div>			
	</div>
	<div class='pressvideo'>
		<div class='quotediv'>						
			<div class='quotedivdesc1'>				 
				"Our effort is <br/> ten times more effective  <br/>per dollar spent in converting farmers to better farming practices than more traditional approaches."
			</div>
			<div class='quotedivdesc2'> 				
				Rikin Gandhi
				<br/>
				<span class='designation'>	
					CEO
				</span>	
			</div>	
		</div>		
	</div>
	
	<div class="imagelink">
		<a href="/annualreports"> <img height="122px" width="264px" alt="Digital Green Annual Report" src="/media/Output/Images/annualreportlink1.jpg"> </a>
	</div>
	
{% endblock mainbodycontentright %}	